/* conten */
    .cover-photo {
      width: 100%;
      height: 200px;
      background: url('Img/Sampul.jpg') no-repeat center center;
      background-size: cover;
    }

    .profile-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 20px;
      color: var(--sekunder);
    }

    .profile-picture img {
      width: 150px;
      height: 150px;
      button: 0;
      border-radius: 50%;
      overflow: hidden;
      margin-top: -75px; /* Set to half of the profile picture size to center it */
    }
    /* isii */
section form .siswa {
  background: var(--trp);
  margin: 10px;
  padding: 15px 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
}

section form .siswa h3,
section form .siswa div input {
  font-weight: bold;
  color: var(--sekunder);
}
section form .siswa div input {
  font-size: 12px;
  appearance: none;
  margin: 0 6px;
  border-bottom: 1px solid #0000;
}
section form .siswa div input:before {
  content: attr(label);
}
section form .siswa div input:checked {
  color: var(--bantal);
  border-bottom: 1px solid var(--bantal);
}

  button {
    width: 90vw;
    margin: 0 10px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #45A049;
  }
